* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.def {
  background-color: #f47721;
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 8px;
  text-decoration: none;
}
.def:hover {
  background-color: #f29354;
}

.center-chv {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-rh {
  display: flex;
  justify-content: center;
}

.center-rv {
  align-items: center;
  display: flex;
}

.center-rhv {
  align-items: center;
  display: flex;
  justify-content: center;
}

.invisible {
  display: none !important;
}

.limit-width {
  max-width: 800px;
}

.p8 {
  padding: 8px;
}

.p16 {
  padding: 16px;
}

.p32 {
  padding: 32px;
}

.pl8 {
  padding-left: 8px;
}

.pl16 {
  padding-left: 16px;
}

.plr16 {
  padding-left: 16px;
  padding-right: 16px;
}

.plrt16 {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
}

.plr32 {
  padding-left: 32px;
  padding-right: 32px;
}

.spacer.v10 {
  height: 10px;
}

.spacer.v20 {
  height: 20px;
}

.spacer.v40 {
  height: 40px;
}

.spacer.v60 {
  height: 60px;
}

.spacer.v80 {
  height: 80px;
}