doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title CrossoverMC
    block head

    script(src="/javascripts/global/rest.js")
    script(src="/javascripts/global/utility.js")
    block assets
  body
    block body