extends head.pug

block assets
  link(rel="stylesheet" href="/stylesheets/pages/generic.css")
  script(src="/javascripts/success.js")

block body
  .p16
    h1 Success
    h3 Thank you for helping out the server!

    .spacer.v20

    p#info